{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}


{#{% block header %}#}
{#    {% include 'inc/header.html.twig' %}#}
{#{% endblock %}#}

{% block body %}




    <div style="background-color: #071244">
        <div class="px-96 flex justify-between items-center h-20">
            {% include 'home/layouts/header.html.twig' %}
        </div>
    </div>


    <div class="bg-1 px-96">
        <style>
            .bg-1{
                height: 100%;
            }
        </style>
        <div class="text-1xl text-white mb-6 text-center mt-36">
            Bizimle İletişime Geçin!
        </div>

        <form action="/iletisimPost" method="post">
            <div class="grid grid-cols-2 gap-4 max-w-xl m-auto">

                <div class="col-span-2 lg:col-span-1">
                    <input type="text" name="name" class="border-solid shadow-lg p-3 md:text-md w-full" placeholder="Name"/>
                </div>

                <div class="col-span-2 lg:col-span-1">
                    <input type="email" name="email" class="border-solid shadow-lg p-3 md:text-md w-full" placeholder="Email Address"/>
                </div>

                <div class="col-span-2">
                    <textarea cols="30" name="message" rows="8" class="border-solid shadow-lg p-3 md:text-md w-full" placeholder="Message"></textarea>
                </div>

                <div class="col-span-2 text-right">
                    <button class="rounded-md py-3 px-6 bg-green-500 text-white font-bold w-full sm:w-32">
                        Gönder
                    </button>
                </div>

            </div>
        </form>
    </div>




{% endblock %}


