{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}




{% block body %}


    <div style="background-color: #071244">
        <div class="px-96 flex justify-between items-center h-20">
            <div>
                <img src="https://cutt.ly/img/cuttly.svg" class="h-8" alt="">
            </div>
            <div>
                <ul class="flex">
                    <li class="mr-8 text-white border-2 py-2 px-4 rounded-xl"><a href="#">Pricing</a></li>
                    <li class="mr-8 text-white bg-green-500 py-2 px-4 rounded-xl"><a href="#">Login</a></li>
                    <li class="     text-white bg-yellow-400 py-2 px-4 rounded-xl"><a href="#">Sign Up</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bg-1 px-96">
        <div class="grid grid-cols-2 h-full">
            <div class="flex items-center">
                <div class="col-span-1">
                    <h3 class="text-6xl font-bold text-white">URL Shortener</h3>
                    <p class="text-gray-400 text-2xl">Here you have full control over your links</p>
                    <div class="mt-8">
                        <a class="text-white bg-blue-500 py-3 rounded-full px-16 rounded-xl" href="#">Sign Up</a>
                        <a class="text-white bg-green-500 py-3 rounded-full px-16 rounded-xl ml-4" href="#">Pricing</a>
                    </div>
                </div>
            </div>
            <div class="flex items-center">
                <div class="col-span-1">
                    <img class="h-96 mx-auto w-full object-contain" src="assets/images/circle.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="bg-gray-100 px-96">
        <div class="mt-16 pb-64">
            <h3 class="text-3xl text-center text-blue-900 font-bold">Link analytics, branded urls, URL shortener</h3>
            <p class="text-sm text-center text-gray-500 mt-3">Don't let the links limit you. Make your links support your brand. The new standard of shortening links. A new standard for link analytics. Discover
                <br> unique redirects analytics - work with your team together building your brand engagment. Manage your links like a pro.
            </p>
            <div class="flex justify-center mt-4">
                <input class="w-2/4 h-12 border-2 rounded-xl border-blue-900 px-4 focus:outline-none" type="text">
                <button class="bg-green-400 ml-8 py-0.5 px-8 rounded-xl text-white">Kısalt!</button>
            </div>
            <div class="mt-3">
                <p class="text-center text-sm text-gray-400">By using our service you accept the <a class="text-blue-900 font-bold text-xs" href="#">Terms of service</a> and
                    <a class="text-blue-900 font-bold text-xs" href="#">Privacy.</a> </p>
            </div>
        </div>
    </div>



{% endblock %}


{% block footer %}

{% endblock %}
