<div class="mt-3">
    <p class="text-center text-xs text-gray-500">{{ configs[4].content }} <a class="text-blue-900 font-bold text-xs" href="#">{{ configs[5].content }}</a> and
        <a class="text-blue-900 font-bold text-xs" href="#">{{ configs[6].content }}</a> </p>
</div>