<form action="/url/create" method="post" onsubmit="return createShortUrl()">
    <div class="flex justify-center mt-4">
        <input autocomplete="off" id="urlinput" type="text" name="url" placeholder="Shorten your link" class="w-2/4 h-12 border-2 rounded-xl border-blue-900 px-4 focus:outline-none" type="text">
        <button id="shortenButton" type="submit" class="bg-green-500 ml-8 py-0.5 px-8 rounded-xl text-white">Kısalt!</button>
    </div>
</form>