<div class="nice-blue-bg">
    <div class="grid grid-cols-12">
        <div class="col-span-2">
            <div style="border-right: 1px solid rgb(226 226 226);" class="flex items-center h-14 border-gray-500">
                <img src="https://cutt.ly/img/cuttly.svg" class="h-10 mx-auto" alt="">
            </div>
        </div>
        <div class="col-span-10 flex items-center justify-end">
            <div class="mr-24">
                <div class="text-white font-bold">
                    <a class="mr-4" href="/">Üyelik Derecesi: xxx</a> {# {{ dump(app.user) buradan admin mi değil mi bakılacak }} #}
                    <a class="    " href="/" target="_blank">Anasayfaya Dön</a>
                </div>
            </div>
        </div>
    </div>
</div>