<div class="px-4 h-screen" style="border-right: 1px solid rgb(226 226 226);">
    <div class="pt-4 text-center">
        <p class="text-xl">Hoşgeldin:</p>
        <p class="text-2xl">{{ app.user.username }}</p>

        {#        <p class="">{{ dump(app.user) }}</p>#}
    </div>
    <div class="mt-8">
        <p class="font-bold">Genel</p>
    </div>
    <div class="mt-2">
        <ul>
            <li class="mt-3 flex">
                <svg class="w-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 15a4 4 0 004 4h9a5 5 0 10-.1-9.999 5.002 5.002 0 10-9.78 2.096A4.001 4.001 0 003 15z" />
                </svg>
                <a class="mt-2 ml-4" href="/admin">Sizin URL Listeniz</a>
            </li>
            <li class="mt-3 flex">
                <svg class="w-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 15a4 4 0 004 4h9a5 5 0 10-.1-9.999 5.002 5.002 0 10-9.78 2.096A4.001 4.001 0 003 15z" />
                </svg>
                <a class="mt-2 ml-4" href="/admin/tum-url-listesi">Tüm URL Listesi</a>
            </li>
            <li class="mt-3 flex">
                <svg class="w-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 15a4 4 0 004 4h9a5 5 0 10-.1-9.999 5.002 5.002 0 10-9.78 2.096A4.001 4.001 0 003 15z" />
                </svg>
                <a class="mt-2 ml-4" href="/admin/kayitli-kullanicilar">Kayıtlı Kullanıcılar <span class="nice-blue-bg text-white ml-1.5 px-2 py-1 rounded-full">{{ users |  length}}</span></a>
            </li>
            <li class="mt-3 flex">
                <svg class="w-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 15a4 4 0 004 4h9a5 5 0 10-.1-9.999 5.002 5.002 0 10-9.78 2.096A4.001 4.001 0 003 15z" />
                </svg>
                <a class="mt-2 ml-4" href="/admin/gelen-mesajlar">Gelen Mesajlar</a> <span class="nice-blue-bg text-white ml-1.5 px-2 py-1 rounded-full">{{ messages |  length}}</span></a>
            </li>
            <li class="mt-3 flex">
                <svg class="w-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 15a4 4 0 004 4h9a5 5 0 10-.1-9.999 5.002 5.002 0 10-9.78 2.096A4.001 4.001 0 003 15z" />
                </svg>
                <a class="mt-2 ml-4" href="/admin/sayfa-ayarlari">Sayfa Ayarları</a>
            </li>
            <li class="mt-3 flex">
                <svg class="w-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 15a4 4 0 004 4h9a5 5 0 10-.1-9.999 5.002 5.002 0 10-9.78 2.096A4.001 4.001 0 003 15z" />
                </svg>
                <a class="mt-2 ml-4" href="/admin/ozellikler">Özellikler</a>
            </li>
            <li class="mt-3 flex">
                <svg class="w-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 15a4 4 0 004 4h9a5 5 0 10-.1-9.999 5.002 5.002 0 10-9.78 2.096A4.001 4.001 0 003 15z" />
                </svg>
                <a class="mt-2 ml-4" href="/admin/url-bilgileri">Url Hakkında</a>
            </li>
        </ul>
    </div>
    <div class="mt-12">
        <p class="font-bold">Profil</p>
    </div>
    <div class="mt-2">
        <ul>
            <li class="mt-3 flex">
                <svg class="w-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 15a4 4 0 004 4h9a5 5 0 10-.1-9.999 5.002 5.002 0 10-9.78 2.096A4.001 4.001 0 003 15z" />
                </svg>
                <a class="mt-2 ml-4" href="/admin/profil-guncelle">Profilimi Güncelle</a>
            </li>
        </ul>
    </div>
</div>