
<header>
    <div class="container">
        <img src="{{ posts[0].getLogo }}" class="logo" alt="Short Url Logo" />

        <div class="auth-buttons">
            <a href="/login" class="button button-primary">Login</a>
            <a href="/signup" class="button button-bordered">Signup</a>
        </div>
    </div>
</header>